h1 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    background-color: #6AA65BFC;
    /* Hijau */
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#menu-output {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    /* Menangani teks panjang */
    word-wrap: break-word;
    margin-top: 20px;
    max-width: 80%;
    min-width: 300px;
}

#restaurant-output {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    /* Menangani teks panjang */
    word-wrap: break-word;
    margin-top: 20px;
    max-width: 80%;
    min-width: 300px;
}

#book-output {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    /* Menangani teks panjang */
    word-wrap: break-word;
    margin-top: 20px;
    max-width: 80%;
    min-width: 300px;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.button {
    background-color: #6AA65B;
    /* Hijau */
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    /* Hijau lebih gelap */
}

button {
    background-color: #6AA65B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}